@model santsg.project.Entities.User;

@{
    ViewData["Title"] = "GetUserByIdIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Get User</h1>

<form asp-action="GetUserById" asp-controller="User" method="get">

    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" />
        <span class="text-danger">@Html.ValidationMessageFor(m => m.Id)</span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Get</button>
</form> 
@if (TempData["Username"] != null)
{
    <style>
        .info {
            margin: 0;
        }
    </style>
    <div class="text-center" style="margin-top: 20px;">
        <div class="alert alert-danger" style="display:flex; flex-direction:column;" role="alert">
            <p class="info">
                @TempData["Username"]
            </p>
            <p class="info">
                @TempData["Email"]
            </p>
            <p class="info">
                @TempData["PhoneNumber"]
            </p>
            <p class="info">
                @TempData["Age"]
            </p>
        </div>
    </div>
}
else if (TempData["GetUserFailed"] != null)
{
    <p class="text-center">
        <div style="margin-top: 20px;" class="alert alert-danger" role="alert">@TempData["GetUserFailed"]</div>
    </p>
}
