@model santsg.project.Entities.Hotel;
@{
    ViewData["Title"] = "HotelDetailsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.HotelName</h2>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-container">
    <table class="w3-table w3-striped w3-border">
        <tr>
            <th>City</th>
            <th>Location</th>
            <th>StarRating</th>
        </tr>
        <tr>
            <td>@Model.City</td>
            <td>@Model.Location</td>
            <td>@Model.StarRating</td>
        </tr>
    </table>
    <br />
    <img src="@Model.HotelImage" style="width:50%"><br />
    <br />
    <img src="@Model.HotelImage2" style="width:50%"><br />
    <br />
    <img src="@Model.HotelImage3" style="width:50%"><br />
    <br />
    <button onclick="window.location.href='@Url.Action("CreateReservationIndex", "Reservation",new{HotelId=@Model.Id})'" class="btn btn-primary">Reservation</button>
    <br />
    <br />
    <br />
    <br />
</div> 