@model santsg.project.Entities.Hotel;
@{
    ViewData["Title"] = "HotelDetailsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container" style="background-color: rgba(255, 255, 255, 0.6);  ">
    <div class="row">
        <div class="col-md-6">
            <div class="w3-hide-large" style="margin-top:80px"></div>

            <div class="w3-container" id="apartment">
                <h2 class="w3-text-green">@Model.HotelName</h2>
                <div class="w3-display-container mySlides">
                    <img src="@Model.HotelImage" style="width:700px; height:480px;margin-bottom:-6px">
                    <div class="w3-display-bottomleft w3-container w3-black">
                        <p>Hotel View</p>
                    </div>
                </div>
                <div class="w3-display-container mySlides">
                    <img src="@Model.HotelImage2" style="width:700px; height:480px;margin-bottom:-6px">
                    <div class="w3-display-bottomleft w3-container w3-black">
                        <p>Outdoor View</p>
                    </div>
                </div>
                <div class="w3-display-container mySlides">
                    <img src="@Model.HotelImage3" style="width:700px; height:480px;margin-bottom:-6px">
                    <div class="w3-display-bottomleft w3-container w3-black">
                        <p>Bedroom</p>
                    </div>
                </div>
                <div class="w3-display-container mySlides">
                    <img src="@Model.HotelImage4" style="width:700px; height:480px;margin-bottom:-6px">
                    <div class="w3-display-bottomleft w3-container w3-black">
                        <p>Bathroom</p>
                    </div>
                </div>
            </div>
            <div class="w3-row-padding w3-section" style="width:750px;">
                <div class="w3-col s3" style="margin-right: -7px;">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="@Model.HotelImage" style="width:170px; height:90px;cursor:pointer" onclick="currentDiv(1)" title="Hotel View">
                </div>
                <div class="w3-col s3" style="margin-right: -7px;">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="@Model.HotelImage2" style="width:170px; height:90px;cursor:pointer" onclick="currentDiv(2)" title="Outdoor View">
                </div>
                <div class="w3-col s3" style="margin-right: -7px;">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="@Model.HotelImage3" style="width:170px; height:90px;cursor:pointer" onclick="currentDiv(3)" title="Bedroom">
                </div>
                <div class="w3-col s3">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="@Model.HotelImage4" style="width:170px; height:90px;cursor:pointer" onclick="currentDiv(4)" title="Bathroom">
                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-left: -50px;">
            <div style="float: right;">
                <div class="w3-container">
                    <br /><br /><br />
                    <h4 style="font-weight: 650;"><strong>The space</strong></h4>
                    <div class="w3-row w3-large" style="width:430px;height:138px">
                        <div class="w3-col s6">
                            <p><i class="fa fa-fw fa-male"></i> Max people: @Model.PeopleCount</p>
                            <p><i class="fa fa-fw fa-bath"></i> Bathrooms: @Model.Bathrooms</p>
                            <p><i class="fa fa-fw fa-bed"></i> Bedrooms: @Model.Bedrooms</p>
                        </div>
                        <div class="w3-col s6" >
                            <p><i class="fa fa-fw fa-clock-o"></i>Check In: After 3PM</p>
                            <p><i class="fa fa-fw fa-clock-o"></i> Check Out: 12PM</p>
                            
                        </div>
                    </div>
                    <hr>

                    <h4><strong>Amenities</strong></h4>
                    <div class="w3-row w3-large">
                        <div class="w3-col s6">
                            <p><i class="fa fa-fw fa-shower"></i> Shower</p>
                            <p><i class="fa fa-fw fa-wifi"></i> WiFi</p>
                            <p><i class="fa fa-fw fa-tv"></i> TV</p>
                        </div>
                        <div class="w3-col s6">
                            <p><i class="fa fa-fw fa-cutlery"></i> Kitchen</p>
                            <p><i class="fa fa-fw fa-thermometer"></i> Heating</p>
                            <p><i class="fa fa-fw fa-wheelchair"></i> Accessible</p>
                        </div>
                    </div>
                    <hr>
                    <button onclick="window.location.href='@Url.Action("CreateReservationIndex", "Reservation",new{HotelId=@Model.Id})'" class="btn btn-primary">Reservation</button><br />
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }


    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-opacity-off";
    }
</script>
<h4><strong>Extra Info</strong></h4>
<p>Our apartment is really clean and we like to keep it that way. Enjoy the lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<p>We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
<br />
<br />
<br />
